body{
    font-family: 'Nunito', sans-serif}

/*header*/
.header-area{
    height: 120px;
}
.top-bar{
    display: flex;
    padding: 0 5%;
}
.header-btn {
    float: right;
    margin-top: 26px;
    padding-left: 30%;
    margin-left: 50%;
}
.header-btn .btn {
	background-image: linear-gradient(lightsalmon,tomato);
	padding: 19px 51px 17px;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
	font-size: 19px;
	font-weight: 700;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.diet-area{
    display: flex;
    margin-bottom: 100px;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 60px;
    font-weight: 700;
}
h2{
    font-size: 50px;
    color: #707070;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
    color: gray;
    margin-bottom: 55px;
    display: block;
    line-height: 1.6;
}
/* about-area */
.contact-button{
    text-decoration: none;
    padding: 20px 40px;
    background: linear-gradient(lightsalmon,tomato);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 5px 7px 40px #FEE8D9;
}
.about-me{
    width: 50%;
}
.about-content{
    padding: 0 20%;
    text-align: justify;
}
.about-me img{
   height: 635px;
   margin-left: -180px;
}
.about-area{
    display: flex;
    background-image: url(images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 70px;
}
/* recipies-area */
.recipies-area{
    margin-top: 100px;
    margin-bottom:  250px;
}
.recipies-title{
    padding: 0 25%;
    text-align: center;
}
.recipies-box{
    display: flex;
    margin: 0 5%;
}
.recipies-wrapper{
    padding: 0 2%;
    height: 600px;
    width: 30%;
   
}
.recipies-container{
    box-shadow: 5px 7px 40px #F3F3F3;
    padding:10px 20px ;
    border-radius: 20px;
}
.recipies-container img{
    width: 100%;
    border-radius: 20px;
}
 /* chef-area */
 .chef-area{
    margin-top: 100px;
    margin-bottom:  100px;
}

.chef-protfollio{
    display: flex;
    margin: 0 5%;
}
.recipies-wrapper{
    padding: 0 2%;
    height: 600px;
    width: 30%;
   
}
.chef-container{
    box-shadow: 5px 7px 40px #F3F3F3;
    padding:10px 20px ;
    border-radius: 20px;
    margin-left: 13px;
}
.chef-container img{
    width: 439px;
    border-radius: 20px;
    height: 408px;
}
.chef-text{
    text-align: center;
}
 /*counter-area */
.counter-area{
    padding-bottom: 100px;
    text-align: center;
}
.counter-wrapper{
    display: flex;
    box-shadow: 5px 7px 40px #F3F3F3;
    padding-bottom: 60px ;
    border-radius: 25px;
    margin: 0 7%;
}
.counter-text{
    padding: 0 10%;
}
.footer-area h2{
    font-size: 40px;
}
/* footer-area */
.footer-area{
    background:#0B0D17 ;
    padding-top: 30px;
    padding-bottom: 80px;
}
.footer-area p{
   color: #fff;;
}